*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    height: 70px;
    background-color: #FFFFFF;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
}

.logo{
    width: 82.02px;
    height: 25.35px;
    margin: 22px 30px ;
}